{% load staticfiles %}

<! DOCTYPE html>
<html>
	<header>
		About Us
	</header>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Nova Round' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		<h1></h1>
	</head>
	<div class="tab">
  		<a href="{% url 'aboutus'%}"><button class="tablinks">About Us</button></a>
 	 	<button class="tablinks">Organizer Resources</button>
  		<a href="{% url 'dashboard'%}"><button class="tablinks">Dashboard</button></a>
    	<a href="{% url 'faq'%}"><button class="tablinks">FAQ</button></a>
	</div>
	<body id="grad">
		<h2 class="aboutus_question">Who are we?</h2>
		<p class="aboutus_answer">We are part of the Design for America (DFA) student group at MIT.</p><br>

		<h2 class="aboutus_question">What are we doing?</h2>
		<p class="aboutus_answer">Our problem space for this semester is to increase girls' awareness and exposure to STEM.
				This middle school hackathon planner aims to help college and high school clubs
				plan hackathons all over the country and encourage middle schools girls to pursue STEM!</p><br>

		<h2 class="aboutus_question">Why are we doing this?</h2>
		<p class="aboutus_answer">Middle school is a crucial time period when students begin
			 deciding what they want their career path to look like. Helping middle schoolers take
		   this first step into a STEM at an early age can expose them to something they
		   never thought about pursuing. While most hackathons are for high schoolers and college students,
		   our hackathon planner will have hands-on modules and challenges more geared towards middle schoolers.</p><br>

	  <h2 class="aboutus_question">How can I help?</h2>
		<p class="aboutus_answer">Plan a hackathon! Our website contains resources and information
		to plan a hackathon for middle schoolers. Create an account, follow the timeline, and reach out!</p><br>

		<p>
		 <strong>Join us and make an impact!</strong>
		</p>
		<br><br><br>
		<h4 id="aboutus_signature">
		 <strong>MIT DFA Team femSTEM</strong></br></br>
		 <strong>Lead:</strong> Priya Pillai</br></br>
		 <strong>Members:</strong> Zoe Anderson, Miki Hansen, Helen Li, Leilani Trautman
		</h4>






</p> <!//don't say that "we noticed"--state as a fact>

	</body>
</html>
