{% load staticfiles %}

<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Nova Round' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
	</head>
	<header>
		sigma hackathon planner - dashboard
	</header>

	<div class="tab">
  		<a href="{% url 'aboutus'%}"><button class="tablinks">About Us</button></a>
 	 	<button class="tablinks">Organizer Resources</button>
  		<a href="{% url 'dashboard'%}"><button class="tablinks">Dashboard</button></a>
    	<a href="{% url 'faq'%}"><button class="tablinks">FAQ</button></a>
	</div>
	<body id="grad">
		<h1 class="pageName">Dashboard</h1>
    <h3>Pick a design challenge!</h3>
    <h3>Next item to do: Pick a challenge!</h3>
    <h2>Hackathon Design</h2>
    <h2><a href="{% url 'timeline'%}">Timeline</a></h2>
    <h2><a href="{% url 'scheduler'%}">Scheduler</a></h2>
    <h3 id=timeRemaining>Countdown 'til the big day </h3><h1 id="countDownTimer">TIME REMAINING</h1></h3>
    <h2>Budgeting</h2>
    <h2>Publicity</h2>


	</body>
</html>
