{% load staticfiles %}

<!DOCTYPE html>
<html>
	<header>
		sigma hackathon planner
	</header>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Nova Round' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		<h1></h1>
	</head>
	<div class="tab">
  		<a href="{% url 'aboutus'%}"><button class="tablinks">About Us</button></a>
 	 	<button class="tablinks">Organizer Resources</button>
  		<a href="{% url 'dashboard'%}"><button class="tablinks">Dashboard</button></a>
    	<a href="{% url 'faq'%}"><button class="tablinks">FAQ</button></a>

	</div>
	<body id="grad">
		<p>Design a hackathon for middle school girls!</p>
		<a href="{% url 'login'%}"><p>Login</p></a>
		<a href="{% url 'register'%}"><p>Register</p></a>
	</body>
</html>
