{% load staticfiles %}

<! DOCTYPE html>
<html>
	<header>
		sigma hackathon planner
    <title>Register</title>
	</header>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Nova Round' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		<h1></h1>
	</head>
	<div class="tab">
  		<a href="{% url 'aboutus'%}"><button class="tablinks">About Us</button></a>
 	 	<button class="tablinks">Organizer Resources</button>
  		<a href="{% url 'dashboard'%}"><button class="tablinks">Dashboard</button></a>
    	<a href="{% url 'faq'%}"><button class="tablinks">FAQ</button></a>
	</div>
	<body id="grad">
		<form class="login_form">
      <label for="login"><b>Register and Join Us!</b></label><br><br>
			<label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter Your First Last Name" name="name" required><br><br>
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required><br><br>
      <label for="password"><b>Password</b></label>
      <input type="text" placeholder="Enter Password" name="password" required>
    </form>
	</body>
</html>
