header {
  background-image: url("header1.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
  color: white;
  font-family: Nova Round, serif;
  font-size: 60px;
}
#grad {
  background: linear-gradient(to bottom right, #e6e6ff, #ccf2ff);
  font-family: Raleway, serif;

}

body {
  background: #F5F5F5;
  font-family: Raleway, serif;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: Raleway, serif;
    font-size: 24px;
    text-align: center;
}

.tab {
    overflow: hidden;
    background: linear-gradient(to right, #e6e6ff, #ccf2ff);
    padding: 15px 5px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    font-family: Raleway, serif;
    font-size: 14px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.pageName {
  text-align: right;
}

#countDownTimer {
  font-size: 64px;
  color: #5F9EA0;
  line-height: 2px;
}

#timeRemaining {
  text-align: center;
}

#aboutus_signature {
  text-align: right;
  line-height: 12px;
}

.aboutus_question {
  font-family: Raleway, serif;
  font-size: 24px;
  text-align: center;
  line-height: 2px;
}

.aboutus_answer {
  font-family: Raleway, serif;
  font-size: 18px;
  text-align: center;
}

* {
  box-sizing: border-box;
}


/*TIMELINE*/

.timeline_content {
  font-family: Raleway, serif;
  font-size: 18px;
  text-align: left;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #808080;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media all and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}


/*SCHEDULER*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1.5px solid #aaaaaa;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f1f1f1;
  }

#module {
    width: 300px;
    height: 70px;
    padding:10px;
    border: 2px solid #aaaaaa;
}

.login_form {
    position: relative;
    top: 50px;
    float: middle;
    text-align: center;
    width: 25%;
  	padding: 18px 6% 60px 6%;
  	margin: 0 0 35px 0;
  	background-color: #f1f1f1;
  	border: 1px solid rgba(147, 184, 189,0.8);
  	border-radius: 5px;
    margin: auto;
}
