{% load staticfiles %}

<! DOCTYPE html>
<html>
	<header>
		sigma hackathon planner - timeline
	</header>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Nova Round' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		<h1></h1>
	</head>
	<div class="tab">
  		<a href="{% url 'aboutus'%}"><button class="tablinks">About Us</button></a>
 	 	<button class="tablinks">Organizer Resources</button>
  		<a href="{% url 'dashboard'%}"><button class="tablinks">Dashboard</button></a>
    	<a href="{% url 'faq'%}"><button class="tablinks">FAQ</button></a>
	</div>
	<body id="grad">
		<p class="pageName">Timeline</p>
		<div class="timeline">
		  <div class="container left">
		    <div class="content">
		      <h2>4 months before</h2>
		      <p class="timeline_content">Secure a Venue for the event <br />
		      Create an Organizer Team <br />
		      Brainstorm - what is the focus of your event? <br />
		      Set up a website for the event</p>
		    </div>
		  </div>
		  <div class="container right">
		    <div class="content">
		      <h2>3 months before</h2>
		      <p class="timeline_content">Start to flesh out the Hackathon Design <br />
		      Set up your Budget <br />
		      Start Fundraising and Seeking Sponsorship</p>
		    </div>
		  </div>
		  <div class="container left">
		    <div class="content">
		      <h2>2 months before</h2>
		      <p class="timeline_content">Prizing <br />
		      Book Mentors and Judges <br />
		      Promote the Event</p>
		    </div>
		  </div>
		  <div class="container right">
		    <div class="content">
		      <h2>1 month before</h2>
		      <p class="timeline_content">Final call for Team Registration <br />
		      Organize Transportation <br />
		      Order Supplies <br />
		      Create Event Schedule</p>
		    </div>
		  </div>
		  <div class="container left">
		    <div class="content">
		      <h2>1 week before</h2>
		      <p class="timeline_content">Send Reminders <br />
		      Do a final rundown</p>
		    </div>
		  </div>
		  <div class="container right">
		    <div class="content">
		      <h2>Day of the Event</h2>
		      <p class="timeline_content">Set up!<br />
		      Kick off!</p>
		    </div>
		  </div>
		</div>

	</body>
</html>

